<div id="loadingWrap" class="fixed left-0 top-0 w-h-full z-99 bg-white">
    <div class="bg-wall" style="box-shadow: inset 0 0 50vh rgba(0, 0, 0, .4);">
        <div class="container">
            <div class="row">
                <div class="col w-full h-screen flex flex-col justify-between">
                    <div class="flex-col-center flex-grow">
                        <div class="w-28 animate-spinBackFastForward mt-12 mb-8">
                            <img src="assets/images/index/icons/icon_ufo.svg" alt="" />
                        </div>
                        <h2 class="font-normal text-primary text-2xl">＃勇敢做夢 我挺你</h2>
                        <h6 class="font-normal text-gray-500 text-base">
                            <span id="loadingText">LOADING...</span>
                            <button id="closeLoading" class="hidden text-primary">點我直接進入</button>
                        </h6>
                    </div>
                    <div class="flex-col-center space-y-2 py-5 opacity-20">
                        <div class="w-10">
                            <img src="assets/images/index/nav_footer/logo_40thYears-black.svg" alt="">
                        </div>
                        <h6 class="font-normal text-xs text-center">COPYRIGHT © JOY CORPORATTION. ALL RIGHTS RESERVED.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>